<div id="content">
</div>

<div id="photo-detail"></div>

<script type="application/javascript">
  $(document).ready(function() {
    var CURRENT_USER_ID = <%= current_user.id %>

    var view = PT.initialize(CURRENT_USER_ID);
    console.log(view);
    $("#content").append(view);
  });
</script>