<div>
  <h1>New Photo</h1>

  <form>
    <table>
      <tr>
        <td>
        <label for="title">Title</label>
        <input type="text" name="photo[title]" id="title">
        </td>
      </tr>
      <tr>
        <td>
        <label for="url">Url</label>
        <input type="url" name="photo[url]" id="url">
        </td>
      </tr>
      <tr>
        <td>
        <button class="submit">Submit Pic!</button>
        </td>
      </tr>
    </table>
  </form>
</div>